form{
    width: 300px;
    height: 360px;
    margin: auto;
    margin-top: 100px;
    background-color:rgb(154, 154, 154);
    border: 2px solid black;
    padding: 10px;
}

body{
    background-color:rgb(255, 255, 255);
}


.i1{
    width: 280px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    border: 1px solid black;
}


.b1{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b2{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b3{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b4{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b5{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b6{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b7{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b8{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b9{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b10{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b11{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b12{
    width: 60px;
    height: 60px;
    margin: 5px;
}


.b13{
    width: 60px;
    height: 60px;
    margin: 5px;
}


.b14{
    width: 60px;
    height: 60px;
    margin-left: 7px;
}

.b15{
    width: 60px;
    height: 60px;
    margin: 5px;
}

.b16{
    width: 60px;
    height: 60px;
    margin: 5px;
}